In [122]:
# array = [6,10,1,2,4]
# result = 0
# for i in range(len(array)):
#     result += array[i]
#     if result == 16:
#         print(result)

# print(array[i])
def strings(str):    
    string = 'potusan'
# for i  in range(len(string)-2):
#     if string[i:i+3] == 'san':
#         print(True)

    if str in string:
#         print('yes')
        return True
# else:
#     print('no')
    return False
        

strings('sant')

False

In [128]:
array = [1,2,4,5,6]
print(sum(array) )

18

In [115]:
class Test:
    def __init__(self,name,number):
        self.fullname = name
        self.age = number
    def superman(self):
        return self.fullname + ' --- ' +self.age

class Testsub(Test): 
    def __init__(self,name,year):
        super().__init__(name,year)
        self.marks = year
        
    def superman(self):
        return self.age

test1 = Testsub('reddy',2019)
# print(test1.marks)
print(test1.superman() )
# print(test1.testing() )

2019

In [123]:
import re

def convert(s):
    res = re.sub(r'([A-Z])([a-z]+)',r'\2\1', s)
    return res

m = re.search('(\w)(\d+)','ab123')
# print(m)
m.groups()
# m.group(2)

# pattern = '(?P<year>\d{4})-(?P<month>\d{2})-(?P<day>\d{2})'
# m = re.search(pattern, '2016-01-01')
# m.group('year')
# m.groups()

('b', '123')

In [1]:
convert('PamesCase')

NameError: name 'convert' is not defined

In [3]:
def palindrome(num):
#     print(len(str(num)))
    
    num10 = int(num%10)
    num0 = int(num/10)
    new_num = 10*num10 + num0
#     print(new_num)

    if num == new_num:
        return True, len(str(num))
#     else:
    print('dfgh')
    return False

In [5]:
palindrome(222)

dfgh

False

In [120]:
def maxima(nums):
    maxima = nums[0]
    minima = nums[0]
    for i in range(1,len(nums)):
        if  nums[i] > maxima:
            print('max',i)
            maxima = nums[i]
#             print(maxima)
            
        if nums[i] < minima:
            print('min',i)
            minima = nums[i]
#             print(minima)
            
    return maxima,minima

maxima([11,13,10,3])

max 1
min 2
min 3

(13, 3)

In [127]:
class Test:
    def __init__(potu,name,number):
        potu.fullname = name
        potu.age = number
    def superman(self):
        return self.fullname 

test1 = Test('reddy',20)

print(test1.superman())
print(test1.age)

reddy
20

In [8]:
def array67(nums):
    found = False
    result = 0
    for x in nums:
        if x == 6:
            found = True
        if x== 7 and found  == True:
            found = False
            continue
        if found == False: 
            result += x 
    return result

array67([6,1,6,9,2,7,1])

0

In [13]:
# time complexity is Big-O --- O(n)

def sum67(nums):
    result = 0
    #count = 0
    #count1 = 0
    for i in range(0, len(nums)):
#         print('1 loop')
        if nums[i] == 6:
            for j in range(i+1, len(nums)):
                #count += 1 
                #print('2 loop')
                if nums[j] == 7:
                    for k in range(i,j+1):
                        #count1 += 1
                        #print('3 loop') 
                        nums[k]=0
                    break

        result += nums[i]     
    #print('count--',count)   
    #print('count1--',count1)    

    print(nums)
    return result

sum67([1,6,1,6,1,1,7,1])

[1, 0, 0, 0, 0, 0, 0, 1]

2

In [6]:
#using while loop we have reduced len(nums) iterations from len(num) to len(num)-k [k = numbers from 6 to 7]

def sum67(nums):
    result = 0
    i =0
    while i < len(nums):
        if nums[i] == 6:
            for j in range(i+1, len(nums)):
                if nums[j] == 7:
                    i = j+1 
                    break
        if i == len(nums):
            break
        result += nums[i]  
        i = i+1

    #print(nums)
    return result

sum67([1,6,1,6,7,1,7])

9

In [31]:
#Bubble sort

def sorting(nums):
    for i in range(len(nums)-1):
        for j in range(i,len(nums)):
            if nums[i] > nums[j]:
                nums[i],nums[j] = nums[j], nums[i]
                #print(nums)
           
    return nums

In [32]:
sorting([100,10,21,3,0])

[0, 3, 10, 21, 100]

In [39]:
def factorial(n):
    array = [0]*(n+1)
    array[1] = 1
    for i in range(2,n+1):
        array[i] = i*array[i-1]
        
    return array[n]
    
factorial(5)

120

In [2]:
def facto(n):
    print(n)
    if n==1:
        return 1
    return n*facto(n-1)
facto(4)

4
3
2
1

24

In [5]:
def fib(n):
#     print(n)
    array = [0]*n
#     if n==1 or n==2:
#         return 1
    array[0] = 1
    array[1] = 1
    for i in range(2,n):
        array[i] = array[i-1] + array[i-2] 
    return array[n-1]

fib(10)

55

In [ ]:
def fibo(n):
    if n==1 or n==2: 
        return 1   
    return fibo(n-1) + fibo(n-2)

fibo(100)